<div id="<%= dom_id artist %>">
  <p>
    <strong>
    <%= artist.Pseudo %></strong>
  </p>

  <p>
    <strong></strong>
    <img src="<%= artist.Image %>">
  </p>

  <p>
    <strong>Art movment:</strong>
    <%= artist.Art_movment %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist.Description %>
  </p>

  <p>
    <strong></strong>
    <img src="<%= artist.Image_presentation %>">
  </p>

  <p>
    <strong>Insta:</strong>
      <a href="<%= artist.Insta %>">https://www.instagram.com/polygon1993/</a>
  </p>

  <p>
    <strong>Link:</strong>
    <a href="<%= artist.Link %>">https://phantasm.world/fr/</a>
  </p>

</div>
